<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Post Verification</title>
	<link rel="stylesheet" th:href="@{/styles/styles.css}">


</head>

<body>
	<div th:replace="fragments :: header"></div>
	<main >
		<table class="post-table" >
			<tr >
				<th>User</th>
				<th>Post Title</th>
				<th>Post Date</th>
				<th>Accuracy Score</th>
				<th> <select name="status" id="status" onchange="location = this.options[this.selectedIndex].value;">
						<option th:value="@{/admin/post}" th:selected="${selectedStatus == null}">Actions</option>
						<option th:value="@{/admin/post(status='pending')}" th:selected="${selectedStatus == 'pending'}">Pending</option>
						<option th:value="@{/admin/post(status='petition')}" th:selected="${selectedStatus == 'petition'}">Petition</option>
						<option th:value="@{/admin/post(status='approved')}" th:selected="${selectedStatus == 'approved'}">Approved</option>
						<option th:value="@{/admin/post(status='banned')}" th:selected="${selectedStatus == 'banned'}">Banned</option>
					</select></th>
			</tr>
			<div th:each="post : ${postList}">
				<tr>
					<td th:text=${post.user.username}></td>
					<td th:text=${post.postTitle}></td>
					<td th:text=${post.postTime}></td>
					<td th:text=${post.accuracyScore}></td>
					<td>
						<a th:if="${#strings.equals(post.postStatus,'pending')} or ${#strings.equals(post.postStatus,'petition')} "
							th:href="@{/admin/post/verifyPost/}+${post.id}" th:text=${post.postStatus}></a>
						<span
							th:if="${!#strings.equals(post.postStatus,'pending')} and ${!#strings.equals(post.postStatus,'petition')}"
							th:text=${post.postStatus}></span>
					</td>
				</tr>
			</div>
		</table>

		<div class="pagination">
			<a th:if="${currentPage > 1}" th:href="@{/admin/post(id=${currentPage - 1}, status=${selectedStatus})}">Previous</a>
			<span th:if="${postList.totalPages !=null}" th:each="i : ${#numbers.sequence(1,postList.totalPages)}">
				<a th:href="@{/admin/post(id=${i}, status=${selectedStatus})}" th:text="${i}"></a>
			</span>
			<a th:if="${currentPage < postList.totalPages}" th:href="@{/admin/post(id=${currentPage + 1}, status=${selectedStatus})}">Next</a>
		</div>
	</main>

</body>

</html>