<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Post Verification</title>
	<link rel="stylesheet" th:href="@{/styles/styles.css}">
	<style>

	</style>
</head>

<body>
	<div th:replace="fragments :: header"></div>
	<main>
		<table class="post-table">
			<tr>
				<th>User</th>
				<th>Post Title</th>
				<th>Post Date</th>
				<th>Accuracy Score</th>
				<th>Actions</th>
			</tr>
			<div th:each="post : ${postList}">
				<tr>
					<td th:text=${post.user.username}></td>
					<td th:text=${post.postTitle}></td>
					<td th:text=${post.postTime}></td>
					<td th:text=${post.accuracyScore}></td>
					<td>
						<a th:if="${#strings.equals(post.postStatus,'pending')} or ${#strings.equals(post.postStatus,'petition')} "
							th:href="@{/admin/post/user/}+${post.id}" th:text=${post.postStatus}></a>
						<span
							th:if="${!#strings.equals(post.postStatus,'pending')} and ${!#strings.equals(post.postStatus,'petition')}"
							th:text=${post.postStatus}></span>
					</td>
				</tr>
			</div>
		</table>

		<div class="pagination">
			<a th:if="${currentPage > 1}" th:href="@{/admin/post(id=${currentPage - 1})}">Previous</a>
			<span th:if="${postList.totalPages !=null}" th:each="i : ${#numbers.sequence(1,postList.totalPages)}">
				<a th:href="@{/admin/post(id=${i})}" th:text="${i}"></a>
			</span>
			<a th:if="${currentPage < postList.totalPages}" th:href="@{/admin/post(id=${currentPage + 1})}">Next</a>
		</div>
	</main>

</body>

</html>