<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">

	<title>post</title>
	<link rel="stylesheet" th:href="@{/styles/styles.css}">
	<script th:inline="javascript">
		function setStatus1(status) {

			var postId = /*[[${post.id}]]*/ 0;
			var url = '/admin/post/user/userPost/' + status + '/' + postId;


			fetch(url, {
				method: 'GET',

			}).then(response => {
				if (response.ok) {
					window.location.href = "/admin/post";
				} 
			}).catch(error => {
				console.error('Error: ' + error.message);
				redirectToErrorPage();
			});
		}

	</script>
	<script th:inline="javascript">
			function setStatus2(status) {

				var userId = /*[[${post.user.id}]]*/ 0;
				var url = '/admin/post/user/userAccount/' + status + '/' + userId;


				fetch(url, {
					method: 'GET',

				}).then(response => {
					if (response.ok) {
						window.location.href = "/admin/post";
					} 
				}).catch(error => {
					console.error('Error: ' + error.message);
					redirectToErrorPage();
				});
			}

		</script>
</head>

<body>
	<div th:replace="~{fragments :: header}"></div>
	<div>
		<div style="height: 600px; width: 100%;display: flex;">
			<div style="width: 70%;">
				<div style="display: flex;">
					<div style="width: 20%;">
						<a th:href="@{/admin/post/user/userPost/}+${post.user.id}" th:text="${post.user.username}"></a>
					</div>
					<div th:text="${post.postTime}"></div>
				</div>
				<div th:each="imageOid : ${imageIds}">
					<img th:src="@{/admin/post/image/}+${imageOid.id}"  style="height: 400px; width: 400px;">
				</div>
				<div th:text="${post.postContent}"></div>
			</div>
			<div style="width: 30%;">
				<table style="border: 1px;">
					<tr>
						<td>Rejected times</td>
						<td th:text="${postRej}+'/'+${postTotal}"></td>
					</tr>
				</table>
			</div>
		</div>
		<div style="height: 100px;width: 100%;">
			<button id="Back" type="button" onclick="window.history.back()">Back</button>
			<button id="Approve" type="button" th:onclick="setStatus1('approved')">Approve</button>
			<button id="Ban" type="button" th:onclick="setStatus1('banned')">Ban</button>
			<button id="Block" type="button" th:onclick="setStatus2('inactive')">Block User</button>
		</div>

	</div>



</body>

</html>