name: Simple Security Scan

on: [push]

jobs:
  zap:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run ZAP Scan
        uses: zaproxy/action-full-scan@v1.0.0
        with:
          target: "http://47.129.5.86:8080"
          cmd_options: "-I"  # 强制忽略所有错误

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: zap-results
          path: zap_scan.log